* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    /* overflow-x: hidden; Prevent  overflow */
    font-family: Helvetica, Arial, sans-serif;
}

.container {

    width: 100%; /* Use 100% instead of 100vw */
    min-height: 100vh;
    background-color: #FCF5EB;
    /* padding: 0 20px; */
    /* margin: 0; */
}

.navbar {
    width: 100%; /* Use 100% instead of 100vw */
    margin: 0 20px;
    z-index:999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; /* Add padding to match the container */
      backdrop-filter: blur(2px); 
    background-color: rgba(252, 245, 235, 0.7); /* Semi-transparent background */
  -webkit-backdrop-filter: blur(10px); /* for Safari support */

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    /* background-color: white; Optional: Add a background color for better visibility */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); Optional: Add a shadow for better aesthetics */
}

.logo {
    width: 120px;
    height: 30px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.slide
{
    cursor:pointer;
    position: relative;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 5px; 
}
.slide::after
{
    position:absolute;
    content:"";
    background-color: #25D366;
    height:2px;
    width:95px;
    /* top:20px; */
    bottom:0;
    left:2%;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: 0%;
    /* left:0; */
}
.slide:hover::after
{
    transform: scaleX(1);
   
}
.features-item
{
    display: flex;
    gap:3px;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    position:relative;
    height:26px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-right:30px;
}
.buttons-container > button,.btn
{
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6px;
    padding: 14px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size:15px;
    border:1px solid #1C1E21;
}
.green-button
{
    background-color: #25D366;
}
.white-button
{
    background-color: white;
}
.hero
{
    overflow-y: hidden;
    background-image:url(assets/MaaBeti.png);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap:100px;
    padding: 40px 140px;
    background-size: cover;
    /* background-position: center; */
    border-radius: 20px;
    width: 97%;
    height: 100%;
    margin:90px auto 0;
    position: relative;
}
.note 
{
    float:right;
    font-size: 12px;
    color: #888;
    margin:10px;
}

.hero-text-container {
    width: 100%;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:80px;
    /* align-items: flex-start; */
}
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
    /* padding-right: 30px; */
}
.hero-text > p {
    line-height: 1.3;
    /* margin-bottom: 20px; */
    /* text-align: center; */
    /* max-width: 600px; */
}

.hero-text> h1 {
    overflow: hidden;
    font-size: 75px;
    font-weight:300;
    /* margin-bottom: 20px; */
    letter-spacing:-3px;
    line-height:1.08;
}
.hero-buttons {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px;
    padding-right:30px;
}

.hero-images-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
     */
     position:relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hero-images-container > img:nth-child(1) {

    /* position:absolute; */
    width: 450px;
    height:100%;
    animation: gm 0.8s ease-in-out;
    /* margin-bottom:30px; */
}
@keyframes gm {
    0% {
        transform: translateY(50px);
        /* opacity: 0; */
    }
    /* 50% {
        transform: translateY(0px);
        opacity: 0;
    } */
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.hero-images-container > img:nth-child(2) {
    position:absolute;
    top:20px;
    width: 400px;
    animation: dil 1.5s ease-in-out;
}
@keyframes dil {
    0% {
        /* transform: translateY(50px); */
        opacity: 0;
    }
     60% {
        /* transform: translateY(0px); */
        opacity: 0;
    }
    100% {
        /* transform: translateY(0); */
        opacity: 1;
    }
}
.hero-images-container > img:nth-child(3) {
    /* margin-top: 30px; */
    width: 400px;
    animation: coffee 2.2s ease-in-out;
}
@keyframes coffee {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
     80% {
        /* transform: translateY(0px); */
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.hero-images-container > img:nth-child(4) {
    width: 400px;
    animation: voice 2.9s ease-in-out;
}
@keyframes voice {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }
     80% {
        /* transform: translateY(0px); */
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.hero-images-container > img:nth-child(5) {
    width: 500px;
    animation: photo 3.6s ease-in-out;
}
@keyframes photo {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
     75% {
        /* transform: translateY(0px); */
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.hero-images-container > img:nth-child(6) {
    width: 500px;
       position:absolute;
       bottom:30px;
       left:2   px;
    animation: cryingEmoji 4.3s ease-in-out;
}
@keyframes cryingEmoji {
    0% {
        /* transform: translateY(50px); */
        opacity: 0;
    }
     80% {
        /* transform: translateY(0px); */
        opacity: 0;
    }
    100% {
        /* transform: translateY(0); */
        opacity: 1;
    }
}
.hero-images-container > img:nth-child(7) {
    width: 400px;
    animation: trip 4.6s ease-in-out;
    /* margin-bottom: 20px; */
}
@keyframes trip {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
     /* 50% {
        opacity: 0.5;
    } */
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.description-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin:30px auto; */
    /* margin:60px 60px; */
    padding:50px 80px;
    gap: 20px;
    overflow: hidden;
    min-height: 400px;
    width: 100%;
    /* background-color:#FCF5EB ; */
    /* margin-top: 30px; */
}
.description-text-wrapper {
    overflow: hidden; /* This will contain the overflow */
    width: 100%;
    box-sizing: border-box;
}
.description-text
{
    overflow: hidden;
    width: 100%;
  box-sizing: border-box;
  font-family:Helvetica, Arial, sans-serif;
font-size:42px;
text-align: center;
line-height:43px;
font-weight:500;
padding:30px;
letter-spacing: normal;
color:#1C1E21;
}
.description-img
{
    /* display: block;
    /* max-width: 600px;
    margin: 0 auto;  */
    width:100%;
    
}
.feature-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
    width: 100%;
    overflow: hidden;
    /* padding: 50px 80px; */
    /* background-color:#FCF5EB ; */
    /* margin-top: 30px; */
}
.text-section > h1
{
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 52px;
    letter-spacing:-1px;
    line-height:58px;
    overflow: hidden;
}
.text-section > p
{
    font-family: Helvetica, Arial, sans-serif;
    font-weight:400;
    font-size: 16px;
    padding-top:10px;
    line-height: 1.5;
    color:#1C1E21;
}
.learn-more > i
{
        padding-top:2px;
        padding-left: 3px;
}
.learn-more
{
    display: flex;
    padding: 20px 0;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight:500;
    position: relative;
    color:#1C1E21;
    font-size: 15px;
    font-weight:400;
}
.learn-more-white
{
    color:white !important;
}
.learn-more-white:hover
{
    color:#25D366 !important;
}
 .white-text
 {
        color: white !important;

 }
 .white-text-button:hover{
    color:#25D366 !important;

 }

.learn-more:hover
{
    color:#25D366;
}
.learn-more>p::after
{
    content:"";
    background-color:#25D366;
    position: absolute;
    top:70%;
    right:80%;
    width:100px;
    height:2px;
}
/* .image-section
{
   position: relative;
   width: 100%;
} */
 .image-section
 {
    position: relative;
    /* width: 100%; */
 }
 .black-bg
 {
    background-color: #111B21;
    color: white;
    margin:20px 0;
    width: 100%;
 }

.overlap-image-grp {
    position: absolute;
    top: 18%; /* adjust based on your layout */
    right: -6%; /* adjust based on your layout */
    width:100%;
    /* height:380px; */
    /* width: 400px; or appropriate size */
    /* z-index: 2; */
} 
.overlap-image-beach {
    position: absolute;
    top: 28%; /* adjust based on your layout */
    right: 6%;
     /* adjust based on your layout */
    width: 300px;
    height:280px;
    /* width: 400px; or appropriate size */
    /* z-index: 2; */
} 
.arrow-up-right {
    font-size: 15px;
    /* transition: transform 0.3s ease; */
    rotate: 45deg; /* Rotate the icon to point upwards */
}
.footer-container
{
    background-color: #1C1E21;
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* height:300px; */
}
.footer-text
{
    display: flex;
    /* justify-content: center; */
    /* align-items: center;  */
    padding:65px 240px;
    gap:50px;
}
.footer-logo
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 85px;
}
.header
{
    font-size:12px;
    color:#8a8f92;
    font-weight:semibold;
}
hr
{
    width: 80%;
    /* border: 0.1px solid #25d366; */
    border:none;
    border-top: 1px solid #25d366;
    opacity: 0.2;
    margin: 20px 0;
}
.footer-desc
{
    display: flex;
    flex-direction: column;
    gap: 20px;
        /* margin: 0 20px; */
  
}
.footer-desc>p:hover
{
    cursor: pointer;
    text-decoration: underline;
}
.footer-links
{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;;

}
.site-link-text
{
    font-size:12px;
}
select
{
    background-color: #1C1E21;
    color: white;
    border-radius:28px;
    padding:15px 20px;
    overflow: hidden;
    border:1px solid white;
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
}
.language-selector
{
    position: relative;
    /* display: flex;
    align-items: center;
    gap: 10px; */
}
.language-selector > i
{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 12px;
    pointer-events: none; /* Prevent the icon from blocking clicks on the select */
}
.social-icons
{
    display:flex;
    /* justify-self: center; */
    /* gap:10px; */
    /* width:40%; */
}

.social-icons > i
{
    font-size: 17px;
    background-color: #111B21;
    border:1px solid white;
    padding: 15px;
    border-radius:60%;
    color: white;
    margin: 0 10px;
    cursor: pointer;
}
.social-icons > i.fb-icon
{
   /* border-radius: 120%; */
   width:48px;
   font-size: 16px;
   text-align: center;
}

