* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    /* overflow-x: hidden; Prevent  overflow */
    font-family: Helvetica, Arial, sans-serif;
}

.container {

    width: 100%; /* Use 100% instead of 100vw */
    min-height: 100vh;
    background-color: #FCF5EB;
    padding: 0 20px;
}

.navbar {
    width: 100%; /* Use 100% instead of 100vw */
    z-index:999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; /* Add padding to match the container */
      backdrop-filter: blur(2px); 
    background-color: rgba(252, 245, 235, 0.7); /* Semi-transparent background */
  -webkit-backdrop-filter: blur(10px); /* for Safari support */

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    /* background-color: white; Optional: Add a background color for better visibility */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); Optional: Add a shadow for better aesthetics */
}

.logo {
    width: 120px;
    height: 30px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.slide
{
    cursor:pointer;
    position: relative;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 5px; 
}
.slide::after
{
    position:absolute;
    content:"";
    background-color: #25D366;
    height:2px;
    width:95px;
    /* top:20px; */
    bottom:0;
    left:2%;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: 0%;
    /* left:0; */
}
.slide:hover::after
{
    transform: scaleX(1);
   
}
.features-item
{
    display: flex;
    gap:3px;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    position:relative;
    height:26px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-right:30px;
}
.buttons-container > button,.btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6px;
    padding: 14px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size:16px;
    border:1px solid black;
}
.green-button
{
    background-color: #25D366;
}
.white-button
{
    background-color: white;
}
.hero
{
    overflow-y: hidden;
    background-image:url(assets/MaaBeti.png);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap:100px;
    padding: 40px 140px;
    background-size: cover;
    /* background-position: center; */
    border-radius: 20px;
    width: 97%;
    height: 100%;
    margin:90px auto 0;
    position: relative;
}
.note 
{
    float:right;
    font-size: 12px;
    color: #888;
    margin:10px;
}

.hero-text-container {
    width: 100%;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:80px;
    /* align-items: flex-start; */
}
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
    /* padding-right: 30px; */
}
.hero-text > p {
    line-height: 1.3;
    /* margin-bottom: 20px; */
    /* text-align: center; */
    /* max-width: 600px; */
}

.hero-text> h1 {
    overflow: hidden;
    font-size: 75px;
    font-weight:300;
    /* margin-bottom: 20px; */
    letter-spacing:-3px;
    line-height:1.08;
}
.hero-buttons {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px;
    padding-right:30px;
}

.hero-images-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
     */
     position:relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hero-images-container > img:nth-child(1) {

    position:absolute;
    width: 450px;
    animation: gm 0.8s ease-in-out;
    /* margin-bottom:30px; */
}
@keyframes gm {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    50% {
        transform: translateY(0px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.hero-images-container > img:nth-child(2) {
    position:absolute;
    top:20px;
    width: 400px;
    animation: dil 1.5s ease-in-out;
}
@keyframes dil {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
     60% {
        transform: translateY(0px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.hero-images-container > img:nth-child(3) {
    margin-top: 30px;
    width: 400px;
    animation: coffee 2.2s ease-in-out;
}
@keyframes coffee {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
     80% {
        transform: translateY(0px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.hero-images-container > img:nth-child(4) {
    width: 400px;
    animation: voice 2.9s ease-in-out;
}
@keyframes voice {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
     80% {
        transform: translateY(0px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.hero-images-container > img:nth-child(5) {
    width: 500px;
    animation: photo 3.6s ease-in-out;
}
@keyframes photo {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
     75% {
        transform: translateY(0px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.hero-images-container > img:nth-child(6) {
    width: 500px;
       position:absolute;
       bottom:30px;
       left:2   px;
    animation: cryingEmoji 4.3s ease-in-out;
}
@keyframes cryingEmoji {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
     80% {
        transform: translateY(0px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.hero-images-container > img:nth-child(7) {
    width: 400px;
    animation: trip 5s ease-in-out;
}
@keyframes trip {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
     50% {
        transform: translateY(0px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.description-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin:30px auto; */
    margin:60px 60px;
    /* padding:0 60px; */
    gap: 20px;
    /* background-color:#FCF5EB ; */
    /* margin-top: 30px; */
}
.description-text
{
font-family:Helvetica, Arial, sans-serif;
font-size:48px;
text-align: center;
/* line-height:48px; */
font-weight:300;
letter-spacing: normal;
color:#1C1E21;
}
.description-img
{
    /* display: block;
    /* max-width: 600px;
    margin: 0 auto;  */
    width:100%;

    
}

